<h2>Please Click Below to Login</h2>
<%= link_to 'Log In', '/signin' %></br>
<%= link_to 'Log In with Facebook!', '/auth/facebook' %>

<h4> No account? Sign Up!</h4>
<%= link_to 'Sign Up', '/users/new' %>
